<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Kestrel Express</title>
    <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/vendors/boxicons/css/boxicons.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container login">
        <div class="container centerItems login-f">
            <form action="/user/login" class="login-form" method="post" id = 'loginForm'>
                <h2 class="primaryText textBold textCenter noMarg">Kestrel Express</h2>
                <br>
                <div class="row_input d-flex d-col">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="input required">
                </div>
                <br>
                <div class="row_input  d-flex d-col">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="required">
                </div>
                <div class="mTop15">
                    <h5 class="primaryText textBold hidden noAccount">Cant find account</h5>
                    <h5 class="primaryText textBold hidden errorOccured">Error occured. Try again</h5>
                    
                    <button class="btn primaryColor tertiaryText ke_btn">
                        Sign In
                    </button>
                </div>
              
            </form>
        </div>
    </div>
    
    <script src="/vendors/jquery/jquery.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.js"></script>
    <script src="/js/handleLogin.js"></script>
</body>
</html>