
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/vendors/boxicons/css/boxicons.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list"></i></button>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile mTop15">
    <h1 class="tertiaryText "><a href="/home/">KESTREL EXPRESS</a></h1>
    </div>

    <nav class="nav-menu">
      <ul>
        <li ><a href="/home/"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="/users?page=1&&sort=new"><i class="bx bx-user"></i> <span>Users</span></a></li>
        <li><a href="/KO?page=1"><i class="bx bx-file-blank"></i> <span>Complete Orders</span></a></li>
        <li><a href="/inKO/page?number=1&&filter=date"><i class="bx bx-book-content"></i>Incomplete Orders</a></li>
        <li><a href="/payments?page=1"><i class="bx bx-server"></i> Payments</a></li>
        <li><a href="/quotations/page?number=1&&filter=date"><i class="bx bx-book-content"></i>Quotations</a></li>
        <li class="active"><a href="/profile/"><i class="bx bx-user"></i> profile</a></li>

      </ul>
    </nav><!-- .nav-menu -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>
  </div>
</header><!-- End Header -->
<div id ='main'>
  <div class="container">
    <div class="mTop15">

    </div>
    <div id="update-success" class="alert  hidden alert-success alert-dismissible fade show" role="alert">
      Update Successfull!!
    </div>
    <div id="update-fail" class="alert hidden alert-danger alert-dismissible fade show" role="alert">
      An error occured try again later
    </div>
    <div class="col-md-5">

      <div class="col-12 mTop15">
        <h4>Change Username</h4>
        <input type="text" id="occ" required class="w100" placeholder="Username" name="username">
      </div>
      <br>
      <div class="w100 ">
        <button class="btn primaryColor ke-btn mLeft15" id = 'change-username'>
          Save
        </button>
      </div>

      <br><br>
      <h4 class="mLeft15">Change password</h4>
      <div class="col-12 mTop15">
        <input type="text" id="cpass" class="w100" placeholder="Current Password" name="cpassword">
      </div>
      
      <div class="col-12 mTop15">
        <input type="text" id="npass" class="w100" placeholder="New Password" name="npassword">
      </div>
      <br>
      <h6 class="primaryText mLeft15 hidden" id="passStatus">Password not found</h6>
      <div class="w100">
        <button class="btn primaryColor ke-btn mLeft15" id="change-password">
          Change
        </button>
      </div>

     
    </div>
   
  </div>
</div>
</div>

<script src="/vendors/jquery/jquery.js"></script>
<script src="/vendors/bootstrap/js/bootstrap.js"></script>
<script src="/js/main.js"></script>
<script src="/js/handleProfile.js"></script>
</body>
</html>


